{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "Add a Note"|trans }}</h1>
    <div>
        {{ form_start (form) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {"attr": { "data-provide":"markdown", "rows": "15"}})}}
            {{ form_label(form.notebook) }}
            {{ form_widget(form.notebook) }}
            <button type="submit" name="submit" id="submit" class="btn btn-success" >Save</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
