{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{{ note.title }} <small>{{ notebook.name }}</small></h1>
        {% if is_granted("edit", note) %}
            <span class="pull-right">
                <a href="{{ path('update_note', {id: note.id}) }}" title="{{ 'update.note'|trans }}">{{ 'update.note'|trans }}</a>
            </span>
        {% endif %}
    </div>
    <div data-provide="markdown-editable" data-savable="true">
        {{ note.content|markdown }}
    </div>

{% endblock %}
