<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{ "Toggle navigation"|trans }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">Symfony2Azure</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('homepage') }}">{{ "Home"|trans }} <span class="sr-only">({{ "current"|trans }})</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ "Notebooks"|trans }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              {% if is_granted("ROLE_USER") %}
                {{ render(controller(
                    'AppBundle:Notebook:Notebooks'
                )) }}
                <li class="divider"></li>
              {% endif %}
            <li><a href="{{ path('new_notebook') }}" title="create a new Notebook">{{ "notebook.create"|trans }}</a></li>
          </ul>
        </li>
        <li class="new-post"><a class="btn btn-success" href="{{ path('new_note') }}" title="Add a new Note">{{ "Add a Note"|trans }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            {% render url('fos_user_registration_register') %}
            {% render url('fos_user_security_login') %}
      </ul>
    </div>
  </div>
</nav>
